{% extends 'blog/layout/base.html'%}
{%load static %}
{% block title %} Product Info{% endblock %}

{% block content %}
<div style="display: inline-block;">
    <div style="display: inline-block;">
    <div class="card" style="width: 305px; height:370px; margin: 30px;">
  <img class="card-img-top" src="{% static 'images/'|add:thing.img %}" alt="Card image cap" width="100" height="150">
  <div class="card-body">
    <h5 class="card-title">{{thing.product_name}}</h5>
    <a href="{% url 'blog-home' %}" class="btn btn-primary">Back To Home Page</a>
{% endblock %}