{% extends 'products/layout/base.html' %}
<!DOCTYPE html>
{% load static %}
<html>
<head>
     <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


	
	<title>{% block title %} Contact Us {% endblock %}</title>
		{% block content %}	
<body>
	<div class="div1" style="background-color: #CF9FFF;align: center; border-radius: 10%; font-size: 15px;text-align:center ;margin-top: 60px;">	
		<h3>Contact Us</h3>
		ITI is one of the training entities affiliated with the Ministry of Communications and
		 Information Technology (MCIT). The Institute develops youth capabilities and skills 
		 through a diversified set of capacity-building programs and professional advanced coaching.
		 Advancing the productivity and efficiency of IT users in various businesses for work automation, 
		 promotion and facilitation. 
		 ITI has kept updating its training portfolio through continuous monitoring.
		 Its main mission revolves around ICT human capacity development.
		 Enriching the knowledge of University undergraduates in niche IT areas of high market demand. 
		 Graduating young cadres especially in niche areas of high demand in the ICT market.
		 There are three types of goals- process, performance, and outcome goals. Process goals are specific actions or 'processes' of performing.
		 {% endblock %}
	</div>
    {% block body %}
	<table>
		<tr>
			<td>
			<table class="div2" style="width: 200px;height: 180px;padding: 5px;background-color: #CAC3D6;padding: 0 5px 0 5px ;text-align: center; margin:80px ;"  >				
				<tr>				
					<td>
		        <a href="tel:234-567-891"><h4> &#x260E;  Call Us</h4></a>
		         1 (234) 567-891<br>
		         2 (234) 987-654<br>
		         
		        <a href="tel:234-567-891"><img style="width: 35px; height: 25px; padding: 0; margin: 0;" src="../../static/images/phone.png"></a></td></tr></table></td>
		         
             <td>
		    
		    <table class="div3"style="width: 200px;height: 180px;padding: 5px;background-color: #CAC3D6;padding: 0 5px 0 5px ;text-align: center;margin:80px ;"><tr><td><a href="https://goo.gl/maps/YrCrkaGadKhACgUc7"><h4><img style="width: 35px; height: 25px; padding: 0; margin: 0;" src="../../static/images/ma.jpg"> Location</h4></a>
		        121 Rock Street, 21 Aveune, New York, NY 92103-9000</td></tr></table></td>
		      <td>  
		    <table class="div4" style="width: 200px;height: 180px;padding: 5px;background-color: #CAC3D6;padding: 0 5px 0 5px ;text-align: center;margin:80px ;"><tr><td><a><h4><img style="width: 35px; height: 25px; padding: 0; margin: 0;"  src="../../static/images/hour.jpg"> Hours</h4></a>
		        Mon-Fri....11am - 8pm, Sat-Sun....6am - 8pm</td></tr></table>
		    {% endblock %}
</td>
	</td>
</tr>
</table>


</body>
</html>